body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a#happy-btn {
    width: 200px;
    height: 200px;
    display: block;

    &:hover {
        cursor: pointer;
    }
}

a#sad-btn {
}
